# include
!sdnist/
!sdnist/test/
!sdnist/test/report/
!sdnist/test/report/data/
!sdnist/test/report/data/na2019_1000.csv

# ignore
report.json
**.pyc
**.DS_Store
/.venv/*
/*.lprof
/.vscode/*
/sample_data/*

.ipynb_checkpoints
toy_synthetic_data/
dask-worker-space/
results/
build/
sdnist.egg-info/

**.pkl
build

**/.idea/
**/crc_acceleration_bundle_1.0/
**/crc_n/
**/crc_notebooks/
**/create_data/
**/data/
**/BenchmarkData/
**/meta_reports/
**/reports/
**/states_puma_geojson/
**/venv/
**/workspace/

