[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = ">=3"
loguru = ">=0.6"
matplotlib = ">=3"
networkx = ">=2"
numpy = ">=1"
pandas = ">=1"
pyarrow = ">=7"
requests = ">=2"
scikit-learn = ">=1"
scipy = ">=1"
tqdm = ">=4"
pydot = ">=1"
python-louvain = "0.16"
PyQt5 = ">=5"
PyQtWebEngine = ">=5"

[dev-packages]
flask = ">=2"
ipykernel = ">=6"
ipywidgets = ">=7"
jupyterlab = ">=2"

[requires]
python_version = "3.10"
