<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Webpage</title>
    <style>
        @page {
            size: A4 portrait;
            margin: 2cm;
        }
        .content-area {
            margin-left: 10%;
            margin-right: 10%;
        }
        .title-div {
            text-align: center;
            background: black;
            color: wheat;
        }
        .title-text {
            display: inline;
        }
        .heading-2-div {

        }
        .heading-2-text {
            text-align: center;
            margin-bottom: 5px;
        }
        .heading-3-div {

        }
        .heading-3-text {
            text-underline: black;
        }
        .heading-4-div {
        }
        .heading-4-text {
        }
        .table-div {
            margin-left: 10%;
            margin-right: 10%;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            position: inherit;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 2px;
        }
        hr {
            margin-top: -1%;
        }
        .underline{
            border-bottom: 1px solid black;
            width: 100%;
            display: block;
        }
    </style>
</head>

{% macro heading_2(title) %}
    <span class="underline">
        <h2 class="heading-2-text">{{ title }}</h2>
    </span>
{% endmacro%}

{% macro heading_3(title) %}
    <div class="heading-3-div">
        <h3 class="heading-3-text">
            <u>{{ title }}:</u>
        </h3>
    </div>
{% endmacro %}

{% macro heading_4(title) %}
    <div class="heading-4-div">
        <h4 class="heading-4-text">
            {{ title }}:
        </h4>
    </div>
{% endmacro %}

{% macro table(data) %}
    {% if data|length > 0 %}
        <table>
            <tr>
            {% for col, _ in data[0].items() %}
                <th style="width: {{ (100/data[0].items()|length) }}%">
                    {{ col }}
                </th>
            {% endfor %}
            </tr>
        {% for row in data %}
            <tr>
            {% for _, val in row.items() %}
                <td>{{ val }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endmacro %}

{% macro data_description(title, key) %}
    {{ heading_3(title) }}
    <div class="table-div">
        <table>
            <tr>
                <th style="width: 50%">PROPERTY</th>
                <th style="width: 50%">VALUE</th>
            </tr>
            <tr>
                <td>Filename</td>
                <td>{{ data['data_description'][key]['filename']}}</td>
            </tr>
            <tr>
                <td>Total Records</td>
                <td>{{ data['data_description'][key]['records']}}</td>
            </tr>
            <tr>
                <td>Total Columns</td>
                <td>{{ data['data_description'][key]['columns'] }}</td>
            </tr>
        </table>
    </div>
{% endmacro %}

{% macro evaluation(data) %}
    {{ heading_3(data['metric_name']) }}
    <p>Score: {{ data['scores'] }}</p>
    {% for a in data['attachments'] %}
        {{ heading_4(a.name) }}
        {% if a.type == "table" %}
            <div class="table-div">
                {{ table(a.data) }}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}


<body>
    <div class="content-area">
        <div class="title-div">
            <h1 class="title-text">Data Utility Report</h1>
        </div>
        <div class="heading-2-div">
            {{ heading_2('Data Description') }}
            {{ data_description('Synthetic Data', 'synthetic') }}
            {{ data_description('Target Data', 'target')}}
        </div>
        <div class="heading-2-div">
            {{ heading_2('Evaluation') }}
            {% for item in data['evaluation'] %}
                {{ evaluation(item) }}
            {% endfor %}
        </div>
    </div>

    {# a comment #}

</body>
</html>
