<!DOCTYPE html>
<br lang="en">

<head>
    <title>Data Evaluation Report</title>
    <style>
        @page {
            size: A4 portrait;
            margin: 2cm;
        }
        body {
            font-family: sans-serif;
        }
        hr {
            margin-top: -1%;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            position: inherit;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 2px;
        }
        th {
            color: #6280BA;
        }

        .appendix-div {
            page-break-after: always;
        }
        .attachment-div {
        }
        .attachment-div-break {
            page-break-before: always;
        }
        .content-area {
            margin-left: 10%;
            margin-right: 10%;
        }
        .evaluation-div {
            page-break-after: always;
        }
        .float-container {
            display: flex;
        }
        .float-child-left {
            float: left;
            width: 20%
        }
        .float-child-right {
            float: left;
            width: 77%;
            margin-left: 3%;
        }
        .heading-2-div {

        }
        .heading-2-text {
            {#text-align: center;#}
            {#margin-bottom: 5px;#}
            color: #6280BA;
        }
        .heading-3-div {

        }
        .heading-3-text {
        }
        .heading-4-div {
        }
        .heading-4-text {
        }
        .img-div {

        }
        .main-title {
            text-align: center;
            font-size: 22px;
            color: #6280BA;
        }
        .section-separator-bar {
            width: 100%;
            height: 5px;
            background-color: #6280BA;
        }
        .table-div {
            margin-left: 10%;
            margin-right: 10%;
        }
        .title-div {
            text-align: center;
            background: #6280BA;
            color: white;
        }
        .title-text {
            display: inline;
        }
        .underline{
            border-bottom: 1px solid black;
            width: 100%;
            display: block;
        }
    </style>
</head>

{% macro section_title(title) %}
    <div class="title-div">
        <h1 class="title-text">{{ title }}</h1>
    </div>
{% endmacro %}

{% macro heading_2(title) %}
    <span class="heading-2-div">
        <h2 class="heading-2-text">
            <u>{{ title }}:</u>
        </h2>
    </span>
{% endmacro%}

{% macro heading_3(title) %}
    <div class="heading-3-div">
        <h3 class="heading-3-text">
            {{ title }}:
        </h3>
    </div>
{% endmacro %}

{% macro heading_4(title) %}
    <div class="heading-4-div">
        <h4 class="heading-4-text">
            {{ title }}:
        </h4>
    </div>
{% endmacro %}

{% macro table(data) %}
    {% if data|length > 0 %}
        <table>
            <tr>
            {% for col, _ in data[0].items() %}
                {% if col != "min_idx" %}
                    <th style="width: {{ (100/data[0].items()|length) }}%">
                        {{ col }}
                    </th>
                {% endif %}
            {% endfor %}
            </tr>
        {% for i, row in enumerate(data) %}
            {% if "min_idx" in row %}
                {% set row_style = "background-color: #b3ccfc; color: black" %}
            {% else %}
                {% set row_style = "" %}
            {% endif %}
            <tr style="{{ row_style }}">
            {% for _, val in row.items() %}
                {% if val is iterable and val is not string  %}
                    {% set out = val[0] %}
                    {% if val[2] %}
                        <td><p>{{ out }}: <a href="{{ val[2] }}">{{ val[1] }}</a></p></td>
                    {% elif val[1] %}
                        <td><p>{{ out }}: {{ val[1] }}</p></td>
                    {% elif val[2] %}
                        <td>{{ val }}</td>
                    {% endif %}
                {% elif _ == "min_idx" %}
                {% else %}
                    <td>{{ val }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endmacro %}

{% macro draw_images(data) %}
    {% for image_link in data %}
        <div class="img-div">
            <img src={{ image_link['path'] }} alt={{ image_link['image_name'] }}>
        </div>
    {% endfor %}
{% endmacro %}

{% macro data_description(title, key) %}
    {{ heading_2(title) }}
    <div class="table-div">
        <table>
            <tr>
                <th style="width: 50%">Property</th>
                <th style="width: 50%">Value</th>
            </tr>
            <tr>
                <td>Filename</td>
                <td>{{ data['data_description'][key]['filename']}}</td>
            </tr>
            <tr>
                <td>Total Records</td>
                <td>{{ data['data_description'][key]['records']}}</td>
            </tr>
            <tr>
                <td>Total Features</td>
                <td>{{ data['data_description'][key]['features'] }}</td>
            </tr>
        </table>
    </div>
{% endmacro %}

{% macro feature_description(title) %}
    {{ heading_2(title) }}
    <div class="table-div">
        {{ table(data['data_description'][title]) }}
    </div>
{% endmacro %}

{% macro string_data(data) %}
    {% if data.startswith('Highlight-') %}
        <div style="color: #6280BA; font-weight: bold">
            {{ data[10:] }}
        </div>
    {% elif data.startswith('h3') %}
        <div>
            {{ heading_3(data[2:]) }}
        </div>
    {% elif data.startswith('h4') %}
        <div>
            <h4>{{ data[2:] }}</h4>
        </div>
    {% else %}
        <div>
            {{ data }}
        </div>
    {% endif %}
{% endmacro %}

{% macro evaluation(data) %}
    {{ heading_2(data['metric_name']) }}
    {% if 'scores' in data %}
        <p>Score: {{ data['scores'] }}</p>
    {% endif %}
    {% for i, a in enumerate(data['attachments']) %}
        {% if a.type == 'image_links' and i > 0 %}
            {% set style = 'attachment-div-break' %}
        {% else %}
            {% set style = 'attachment-div' %}
        {% endif %}
        <div class={{ style }}>
            {%  if a.name %}
                <br>
                {{ heading_3(a.name) }}
            {% else %}
                <br>
            {% endif %}
            {% if a.type == "table" %}
                <div class="table-div">
                    {{ table(a.data) }}
                </div>
            {% elif a.type == "image_links" %}
                {{ draw_images(a.data) }}
            {% elif a.type == "string" %}
                {{ string_data(a.data) }}
            {% elif a.type == "para_and_image" %}
                <div class="float-container">
                    <div class="float-child-left">
                        {% for d in a.data['para'] %}
                            {% if d[0] == 'heading' %}
                                {{ string_data('h4' + d[1]) }}
                            {%  elif d[0] == 'text' %}
                                {{ string_data(d[1]) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="float-child-right">
                        {{ draw_images(a.data['image']) }}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}


<body>
    <div class="content-area">
        <div class="main-title">
            <h1 class="title-text">Data Evaluation Report</h1>
        </div>
        <br>
        <div class="heading-2-div">
            {{ section_title('Data Description') }}
            {{ data_description('Synthetic Data', 'synthetic') }}
            {{ data_description('Target Data', 'target')}}
            {{ feature_description('Data Features')}}
        </div>
        <br>
        <div class="heading-2-div">
            {{ section_title('Utility Evaluation') }}
            {% for i, item in enumerate(data['utility']) %}
                <div class="evaluation-div">
                    {% if i > 0 %}
                        <br>
                        <br>
                        <div class="section-separator-bar"></div>
                        <br>
                    {% endif %}
                    {{ evaluation(item) }}
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="heading-2-div">
            {{ section_title('Privacy Evaluation') }}
            {% for item in data['privacy'] %}
                <div class="evaluation-div">
                    {{ evaluation(item) }}
                </div>
            {% endfor %}
        </div>
        <br>
            <div class="heading-2-div">
            {{ section_title('Appendix') }}
            {% for item in data['Appendix'] %}
                <div class="appendix-div">
                    {{ evaluation(item) }}
                </div>
            {% endfor %}
        </div>
    </div>

    {# a comment #}

</body>
</html>
